
body {
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Muli', sans-serif;
}

p, li {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    font-size: 18px;
    color: #211c19;
}

li {
    font-size: 20px;
}

b {
    font-weight: 600;
}

a {
    cursor: pointer !important;
}

.big-p {
    font-size: 23px !important;
}

.medium-p {
    font-size: 20px !important;
}

.text-align-left {
    text-align: left !important;
}

h2, h3 {
    font-size: 32px;
}

.button {
    font-family: 'Muli', sans-serif;
    text-transform: uppercase;
    padding: 8px 20px;
    border-radius: 20px;
    font-size: 21px;
    background: linear-gradient(to right, #1daa6a, #4fba72, #6bc075);
    border: none;
    color: white;
    letter-spacing: 1.5px;
    transition: 0.5s;
    outline: none !important;
}

.list {
    margin-top: 15px;
    width: 60vw;
}

.key-word {
    font-weight: 500;
    color: #6bc075;
}







/*PODSTRONA MEDYCYNA*/


.medicine-subpage-echoconnection {
    width: 25vw;
    height: auto;
    cursor: pointer;
}








/**
***
*****
*******
*********
SUBPAGES TEXT STYLES
*********
*******
*****
***
*
*/

.content-section {
    width: 100vw;
    padding-top: 35px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 35px;
}

.content-h1 {
    font-weight: 200;
    text-align: center;
    letter-spacing: 8px;
    font-size: 37px;
    margin-bottom: 20px;
}

.content-line {
    background-color: #00a067;
    opacity: 0.5;
    width: 200px;
    height: 3px;
}

.content-p {
    margin-top: 30px;
    width: 60vw;
    text-align: center;
}

.content-bulletpoints-box {
    display: flex;
    justify-content: space-between;
    width: 60vw;
}

.content-bulletpoint {
    text-align: center;
    margin: auto;
    cursor: pointer;
}




.single-product {
    width: 100vw;
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: left;
    padding-left: 7vw;
    padding-right: 7vw;
}

.product-img {
    width: 50%;
    height: 450px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.info1 {
    background-image: url(../img/info1.jpg);
}

.info2 {
    background-image: url(../img/info2.jpg);
}

.info3 {
    background-image: url(../img/info3.jpg);
}

.product1 {
    background-image: url(../img/products_1.jpg.jpg);
}

.product2 {
    background-image: url(../img/products_2.jpg.jpg);
}

.product3 {
    background-image: url(../img/products_3.jpg.jpg);
}

.product4 {
    background-image: url(../img/products_4.jpg.jpg);
}

.product5 {
    background-image: url(../img/products_5.jpg.jpg);
}

.product6 {
    background-image: url(../img/products_6.jpg.jpg);
}

.product7 {
    background-image: url(../img/products_7.jpg.jpg);
}

.product8 {
    background-image: url(../img/products_8.jpg.jpg);
}

.product9 {
    background-image: url(../img/products_9.jpg.jpg);
}

.product10 {
    background-image: url(../img/products_10.jpg.jpg);
}

.product11 {
    background-image: url(../img/products_11.jpg.jpg);
}

.product12 {
    background-image: url(../img/products_12.jpg.jpg);
}

.product13 {
    background-image: url(../img/products_13.jpg.jpg);
}

.product14 {
    background-image: url(../img/products_14.jpg.jpg);
}

.product15 {
    background-image: url(../img/products_15.jpg.jpg);
}

.product16 {
    background-image: url(../img/products_16.jpg.jpg);
}

.product17 {
    background-image: url(../img/products_17.jpg.jpg);
}

.product18 {
    background-image: url(../img/products_18.jpg.jpg);
}

.product19 {
    background-image: url(../img/products_19.jpg.jpg);
}

.product20 {
    background-image: url(../img/products_20.jpg.jpg);
}

.product21 {
    background-image: url(../img/products_21.jpg.jpg);
}

.produc22 {
    background-image: url(../img/products_22.jpg.jpg);
}

.product23 {
    background-image: url(../img/products_23.jpg.jpg);
}

.product24 {
    background-image: url(../img/products_24.jpg.jpg);
}

.product25 {
    background-image: url(../img/products_25.jpg.jpg);
}

.product26 {
    background-image: url(../img/products_26.jpg.jpg);
}

.product27 {
    background-image: url(../img/products_27.jpg.jpg);
}

.product28 {
    background-image: url(../img/products_28.jpg.jpg);
}



.product-content {
    width: 50%;
    padding-top: 75px;
}

.product-content-right {
    padding-right: 7vw;
}

.product-content-left {
    padding-left: 7vw;
}

.product-h2 {
    margin-bottom: 28px;
    color: #1B5E20;
    font-weight: 600;
}

.product-p-green {
    font-weight: 400;
    color: #00a067;
}

.product-price {
    color: #00a067;
    font-size: 23px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s;
}

.product-price:hover {
    color: #FF6F00;
}

.content-photo {
    width: 60vw;
    height: auto;
}

.content-link {
    width: 40vw;
    height: auto;
    margin-top: 25px;
    margin-bottom: 15px;
}

.youtube-video {
    width: 50vw;
    height: 370px;
    border: 4px solid #00a067;
    margin-bottom: 25px;
}

.cb1 {
    font-weight: 500;
    color: #53B056;
}

.cb2 {
    font-weight: 500;
    color: #0065A3;
}













/*.welcome {
    width: 100vw;
    height: 700px;
    background-color: #C5E1A5;
    background-image: url(../img/header-bg-01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-left: 7vw;
    padding-right: 7vw;
    padding-top: 20%;
}*/

.welcome {
    position: relative;
    width: 100vw;
    height: 700px;
    background-color: #C5E1A5;
    background-image: url(../img/layer0.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-left: 7vw;
    padding-right: 7vw;
    padding-top: 20%;
}

.medicine-bg {
    background-image: url(../img/medicine-bg.jpg);
}

.products-bg {
    background-image: url(../img/products-bg.jpg);
}

.partnership-bg {
    background-image: url(../img/partnership-bg.jpg);
}

.cbd-bg {
    background-image: url(../img/cbd-bg.jpg);
}

.informations-bg {
    background-image: url(../img/informations-bg.jpg);
}

.welcome-layer1-static {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/layer1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.welcome-layer1 {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/layer1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    -webkit-animation: mainLayerAnimation 10s infinite;
    -moz-animation: mainLayerAnimation 10s infinite;
    -o-animation: mainLayerAnimation 10s infinite;
    animation: mainLayerAnimation 10s infinite;
    animation-delay: 6s;
}

@-webkit-keyframes mainLayerAnimation {
    0% {
        opacity: 1;
    }

    30% {
        opacity: 0.2;
    }

    40% {
        opacity: 0.6;
    }

    60% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}

.welcome-layer2 {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/layer2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    -webkit-animation: firstLayerAnimation 10s infinite;
    -moz-animation: firstLayerAnimation 10s infinite;
    -o-animation: firstLayerAnimation 10s infinite;
    animation: firstLayerAnimation 10s infinite;
}

@-webkit-keyframes firstLayerAnimation {
    0% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.welcome-layer3 {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/layer3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    -webkit-animation: secondLayerAnimation 10s infinite;
    -moz-animation: secondLayerAnimation 10s infinite;
    -o-animation: secondLayerAnimation 10s infinite;
    animation: secondLayerAnimation 10s infinite;
    animation-delay: 2s;
}

@-webkit-keyframes secondLayerAnimation {
    0% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.welcome-layer4 {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/layer4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    -webkit-animation: thirdLayerAnimation 10s infinite;
    -moz-animation: thirdLayerAnimation 10s infinite;
    -o-animation: thirdLayerAnimation 10s infinite;
    animation: thirdLayerAnimation 10s infinite;
    animation-delay: 4s;
}

@-webkit-keyframes thirdLayerAnimation {
    0% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.welcome-content {
    /*margin-top: 30%;*/
    z-index: 100;
    position: absolute;
}

.welcome-logo {
    width: 38vw;
}

.welcome-subtitle {
    color: white;
    margin-top: 25px;
    margin-right: 7vw;
}







.who-we-are {
    width: 100vw;
    padding-top: 35px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 35px;
}

.s1-h1 {
    font-weight: 200;
    text-align: center;
    letter-spacing: 8px;
    font-size: 37px;
    margin-bottom: 20px;
}

.s1-line {
    background-color: #00a067;
    opacity: 0.5;
    width: 200px;
    height: 3px;
}

.s1-p {
    margin-top: 30px;
    width: 60vw;
    text-align: center;
}

.s1-bulletpoints-box {
    display: flex;
    justify-content: space-between;
    width: 60vw;
}

.s1-bulletpoint {
    text-align: center;
    margin: auto;
    cursor: pointer;
}

.s1-icon-p {
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    color: #23a267;
    transition: 0.5s;
}

.s1-icon {
    width: 90px;
    height: 90px;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: 0.5s;
}

.s1-bulletpoint:hover .s1-icon{
    transform: scale(1.2);
}

.s1-bulletpoint:hover .s1-icon-p{
    color: #1a7043;
}

.icon1 {
    background-image: url(../img/icon1.png);
}

.icon2 {
    background-image: url(../img/icon2.png);
}

.icon3 {
    background-image: url(../img/icon3.png);
}

.icon4 {
    background-image: url(../img/icon4.png);
}

.icon5 {
    background-image: url(../img/icon5.png);
}

.icon6 {
    background-image: url(../img/icon6.png);
}








.learn-more {
    width: 100vw;
    padding-top: 35px;
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: left;
    padding-bottom: 35px;
    padding-left: 7vw;
    padding-right: 7vw;
}

.s2-subtitle {
    margin-top: 10px;
    font-size: 23px;
}

.s2-line {
    background-color: #00a067;
    opacity: 0.5;
    width: 100%;
    height: 3px;
    margin-bottom: 45px;
}

.s2-content-container {
    position: relative;
    width: 100%;
    margin-top: 90px;
}

.s2-photo {
    width: 46vw;
    height: 450px;
    background-color: #00a067;
    background-image: url(../img/s2-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 0px 12px #a8a7a7;
}

.s2-text-box {
    position: absolute;
    top: 50px;
    left: 43vw;
    width: 43vw;
    height: 350px;
    box-shadow: 0px 0px 12px #a8a7a7;
    background: linear-gradient(to right, #bddeab, #82bc98);
    padding: 50px 80px;
    padding-right: 40px;
}

.s2-subline {
    background-color: #00a067;
    opacity: 0.5;
    width: 30%;
    height: 3px;
    margin-bottom: 25px;
}







.offer {
    width: 100vw;
    padding-top: 95px;
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: left;
    padding-bottom: 35px;
    padding-left: 7vw;
    padding-right: 7vw;
}

.s3-img {
    width: 43%;
    margin-right: 7%;
    height: 450px;
    background-image: url(../img/offer-img.png);
    background-size: contain;
    background-position: center left;
    background-repeat: no-repeat;
}

.s3-content {
    width: 50%;
    padding-top: 75px;
}

.s3-h2 {
    margin-bottom: 28px;
}









.products {
    width: 100vw;
    padding-top: 20px;
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: left;
    padding-bottom: 35px;
    padding-left: 7vw;
    padding-right: 7vw;
}

.s4-content {
    width: 50%;
    padding-top: 75px;
}

.s4-h2 {
    margin-bottom: 28px;
}

.s4-img {
    width: 43%;
    margin-top: -30px;
    margin-left: 7%;
    height: 450px;
    background-image: url(../img/leaf.png);
    background-size: contain;
    background-position: center left;
    background-repeat: no-repeat;
}








.newsletter {
    width: 100vw;
    padding-top: 20px;
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: left;
    padding-left: 7vw;
    padding-right: 7vw;
}

.s5-img {
    width: 46%;
    margin-right: 4%;
    height: 300px;
    border: 4px solid #00a067;
    background-image: url(../img/pro.jpg);
    background-size: cover;
    background-position: center left;
    background-repeat: no-repeat;
}

.s5-content {
    width: 50%;
}

.s5-h2 {
    margin-top: 0;
}

.s5-p {
    font-size: 23px;
}

.s5-form {
    font-family: 'Muli', sans-serif;
}

.s5-input {
    width: 100%;
    border: none;
    border-bottom: 3px solid #00a067;
    border-color: rgba(0, 160, 103, 0.5);
    margin-top: 30px;
    font-size: 20px;
    color: #757575;
    outline: none !important;
}

.s5-button {
    margin-top: 35px;
}








.news {
    width: 100vw;
    padding-top: 20px;
    padding-left: 7vw;
    padding-right: 7vw;
    margin-top: 95px;
}

.s6-shadow-container {
    box-shadow: 0px 0px 12px #a8a7a7;
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: left;
}

.s6-top-box, .s6-bottom-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: left;
}

.s6-top-left, .s6-top-right, .s6-bottom-left, .s6-bottom-right {
    width: 50%;
}

.s6-top-left {
    background: linear-gradient(to right, #bddeab, #82bc98);
    height: 500px;
    padding: 40px 35px;
}

.s6-h2 {
    margin-bottom: 18px;
}

.s6-subline {
    background-color: #00a067;
    opacity: 0.5;
    width: 30%;
    height: 3px;
    margin-bottom: 25px;
}

.s6-bottom-right {
    background: linear-gradient(to right, #bddeab, #82bc98);
    height: 200px;
    padding: 40px 35px;
}

.s6-img-1 {
    height: 250px;
    width: 100%;
    background-image: url(../img/s6-1.jpg);
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
}

.s6-img-2 {
    height: 250px;
    width: 100%;
    background-image: url(../img/s6-2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.s6-img-3 {
    height: 200px;
    width: 100%;
    background-image: url(../img/s6-3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}







.contact-us {
    width: 100vw;
    padding-top: 20px;
    padding-left: 20vw;
    padding-right: 20vw;
    margin-top: 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.s7-p {
    font-size: 23px;
}

.s7-form {
    font-family: 'Muli', sans-serif;
}

.s7-input {
    width: 100%;
    border: 4px solid #00a067;
    border-color: rgba(0, 160, 103, 0.5);
    border-radius: 25px;
    margin-top: 30px;
    font-size: 20px;
    color: #757575;
    outline: none !important;
    padding: 12px 30px;
}

.s7-textarea {
    height: 200px;
}

.s7-button {
    margin-top: 35px;
}

.s7-h2 {
    font-size: 55px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
    letter-spacing: 2.6px;
    margin-top: 95px;
}








.footer {
    width: 100vw;
    background: linear-gradient(to right, #bddeab, #82bc98);
    padding-top: 45px;
    padding-bottom: 35px;
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: left;
    padding-left: 7vw;
    padding-right: 7vw;
    margin-top: 55px;
}

.footer-left-box {
    width: 50%;
}

.footer-right-box {
    width: 50%;
}

.footer-p {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 300;
}

.footer-bold {
    font-weight: 600;
}

.footer-line {
    background-color: #00a067;
    opacity: 0.5;
    width: 100%;
    height: 3px;
    margin-bottom: 25px;
}

.footer-logo {
    width: 50%;
    height: auto;
    margin-left: 50%;
}












.costam {
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif !important;
}


.h1 {
    letter-spacing: 2px;
    font-weight: 400; 
}

.p {
    letter-spacing: .37px;
    font-weight: 300;
    line-height: 1.75;
    font-size: 17px;
    font-family: 'Quicksand', sans-serif;
    text-align: justify;
}

.blue-bg{
    background-color: #C5E1A5;
    background: -moz-linear-gradient(top, #C5E1A5 0%, #689F38 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #C5E1A5 0%,#689F38 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #C5E1A5 0%,#689F38 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.image-box-left {
    position: relative;
    width: 60%;
    /*background-color: #F7AC30;*/
    height: 652px;
    margin-right: 5%;
    background-image: url(../img/test1.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
    background-size: auto 100%;
}

.image-6 {
     background-image: url(../img/ams-6.png);
}





@media only screen and (max-width: 768px) {
    body {
        width: 100vw;
        overflow-x: hidden;
    }



    .who-we-are {
        padding-left: 7vw;
        padding-right: 7vw;
    }
    .s1-p {
        width: 100%;
        text-align: left;
    }
    .s1-bulletpoints-box {
        width: 100%;
        flex-wrap: wrap;
        margin-top: 20px;
    }
    .s1-bulletpoint {
        width: 50%;
        margin-top: 18px;
    }

    .learn-more {
        padding-left: 0;
        padding-right: 0;
    }
    .s2-h2 {
        margin-left: 7vw;
        margin-right: 7vw;
    }
    .s2-subtitle {
        margin-left: 7vw;
        margin-right: 7vw;
    }
    .s2-line {
        margin-left: 7vw;
        margin-right: 7vw;
        width: 86%;
    }
    .s2-button {
        margin: auto;
    }
    .s2-content-container {
        margin-top: 0;
    }
    .s2-photo {
        display: none;
    }
    .s2-text-box {
        width: 100%;
        left: 0;
        padding-left: 7vw;
        padding-right: 7vw;
        padding-top: 50px;
        position: relative;
    }
    .s2-subline {
        width: 50%;
    }


    .offer {
        flex-direction: column;
        padding-top: 30px;
    }
    .s3-img {
        width: 100%;
        height: 415px;
    }
    .s3-content {
        padding-top: 0;
        width: 100%;
    }


    .products {
        flex-direction: column;
    }
    .s4-content {
        width: 100%;
        padding-top: 0;
    }
    .s4-img {
        width: 100%;
        margin-left: 0;
    }


    .news {
        margin-top: 55px;
        padding-left: 0;
        padding-right: 0;
    }
    .s6-shadow-container {
        box-shadow: none;
    }
    .s6-top-box {
        flex-direction: column;
    }
    .s6-top-left, .s6-top-right, .s6-bottom-left, .s6-bottom-right {
        width: 100%;
    }
    .s6-bottom-box {
        flex-direction: column-reverse;
    }
    .s6-top-left {
        height: auto;
    }
    .s6-bottom-right {
        height: auto;
    }


    .contact-us {
        padding-left: 7vw;
        padding-right: 7vw;
        margin-top: 35px;
    }



    .welcome {
        padding-left: 0;
        padding-right: 0;
    }
    .welcome-content {
        text-align: center;
    }
    .welcome-logo {
        width: 80%;
        margin-top: 90px;
    }
    .welcome-subtitle {
        margin-top: 75px;
        margin-left: 7vw;
        margin-right: 7vw;
    }



    .content-section {
        padding-left: 7vw;
        padding-right: 7vw;
    }
    .content-h1 {
        font-size: 27px;
    }
    .content-p {
        width: 100%;
        text-align: left;
    }
    .list {
        width: 100%;
    }

    .content-line {
        width: 100%;
    }
    .single-product {
        flex-direction: column;
        margin-bottom: 0 !important;
    }
    .mobile-column-reverse {
        flex-direction: column-reverse;
    }
    .product-img {
        width: 100%;
        height: 250px;
    }
    .product-content-left {
        padding-left: 0;
    }
    .product-content-right {
        padding-right: 0;
    }
    .product-content {
        width: 100%;
        padding-top: 0 !important;
    }

    .content-photo {
        width: 80% !important;
        margin-top: 25px;
    }
    .big-p {
        text-align: center !important;
    }
    .content-link {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .youtube-video {
        width: 100%;
        height: 300px;
    }




    .newsletter {
        flex-direction: column;
    }
    .s5-img {
        margin-right: 0;
        width: 100%;
    }
    .s5-content {
        width: 100%;
        margin-top: 25px;
    }
    .s5-form {
        text-align: center;
    }

    .footer {
        flex-direction: column;
    }
    .footer-left-box {
        width: 100%;
        text-align: center;
    }
    .footer-p {
        margin-bottom: 8px;
    }
    .footer-bold {
        font-size: 27px;
    }
    .footer-right-box {
        width: 100%;
        margin-top: 20px;
    }
    .footer-logo {
        width: 80%;
        margin-left: 10%;
    }
}

